@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKZ-Go6G5tXcraVGwA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font-family: "Kanit", sans-serif;
}

/* 
====== 3d unfold ======
*/
/* start state */
/* animate in */
/* animate out */

.mfp-3d-unfold .mfp-content {
  perspective: 2000px;
}
.mfp-3d-unfold .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(-60deg);
}
.mfp-3d-unfold.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: rotateY(0deg);
}
.mfp-3d-unfold.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
  transform: rotateY(60deg);
  opacity: 0;
}
.mfp-3d-unfold.mfp-removing.mfp-bg {
  opacity: 0;
}
.mfp-close {
  background: rgb(29, 247, 109, 0.2) !important;
  font-size: 20px;
  width: 20px;
  height: 20px;
  border-radius: 25%;
  opacity: 1;
  text-shadow: none;
  color: rgb(29, 247, 109) !important;
  line-height: 0 !important;
  margin: 7px;
  border: 1px solid rgb(29, 247, 109) !important;
}



/*MODAL*/

.modal-content {
  position: relative;
  border: 1px solid rgb(29, 247, 109);;
  background: rgb(11, 36, 41);
  border-radius: 10px;
  padding: 15px;
  width: auto;
  max-width: 400px;
  margin: 0 auto;
}
.modal-body {
  max-height: calc(100vh - 100px);
  overflow: auto;
  padding: 15px;
  position: relative;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}
#calc-popup .table > thead > tr > th {
  font-size: 14px;
  font-weight: bold;
  color: rgb(170, 235, 231);
  border-bottom: 0 !important;
}
#calc-popup .table > tbody > tr > td {
  background: transparent;
  font-weight: bold;
  line-height: 25px;
  font-size: 14px;
  color: rgb(29, 247, 109);
}
#calc-popup .modal-body .table > tbody > tr:nth-child(2n+2) {
  background: rgb(5, 16, 18);
}
#calc-popup .modal-body .table > tbody > tr:nth-child(2n+1) {
  background: rgba(29, 247, 109, 0.03);
}
#calc-popup .table thead th:not(:first-child), 
#calc-popup .table tbody tr td:not(:first-child) {
  text-align: right;
}
.modal-header {
  padding: 0;
  padding-right: 15px;
  border-bottom: 1px solid rgb(29, 247, 109);
  padding-top: 10px;
  padding-bottom: 10px;
}
.modal-header h4 {
  font-weight: bold;
  font-size: 28px;
  line-height: 48px;
  color: rgb(29, 247, 109);
  padding-left: 15px;
  display: flex;
  align-items: center;
  margin: 0;
}

/*MODAL TABLE*/
.notifications ul {
  padding: 0;
}
.notifications ul li {
  font-size: 14px;
  line-height: 20px;
  color: rgb(29, 247, 109);
  padding: 3px;
  text-align: center;
  margin-bottom: -25px;
  list-style: inside;
}
.icon-in {
  transform: scale(0);
  transition: all 1s;
}
.icon-in.animate {
  transform: scale(1.3);
}
